<%= stylesheet_link_tag "application" %>
<h2>Vishnu Kumar</h2>
<%= image_tag("FullSizeRender-1.jpg", width: "550") %><br />
<div class="greenBack whiteText spacing">
  Fremont, California
</div>
<div>
  Junior
</div>
<div class="boldText redText">
  Fun Fact: I love interior design!
</div>
<div class="underlineText orangeText">
  Most Excited: I'm most excited about designing sexy websites.
</div>